{% extends 'base.html' %}

{% block content %}

<section>
	<div class="container">
		<div class="enter">
			<div class="enter__items">
				<div class="items__text">

				</div>
				<form action="/action_page.php">
					<label for="fname">First name:</label><br>
					<input type="text" id="fname" name="fname" value="John"><br>

					<label for="fname">First name:</label><br>
					<input type="text" id="fname" name="fname" value="John"><br>

					<label for="fname">First name:</label><br>
					<input type="text" id="fname" name="fname" value="John"><br>

					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}
