{% extends 'base.html' %}

{% block content %}

<div class="enter">
	<div class="enter__items">
		<div class="items__text">
			Here is some text.
		</div>
		<form action="{{ url_for('recommendation')}}" method="post">
			<label for="fname">First Recipe you would like:</label><br>
			<input list="dl" type="text" id="fname" name="fname"><br>

			<label for="fname">Second Recipe you would like:</label><br>
			<input list="dl" type="text" id="fname" name="fname"><br>

			<label for="fname">Third Recipe you would like:</label><br>
			<input list="dl" type="text" id="fname" name="fname"><br>

			<datalist id="dl">
				{% for l,v in options %}
					<option label="{{l}}" value="{{v}}">
				{% endfor %}
			</datalist>

			<input type="submit" value="Continue">

			<!-- <a href="http://127.0.0.1:5000/recommendation/?liked=892,192,193&disliked=123"> -->
			<!-- 	<input value="Continue"> -->
			<!-- 	<a > -->
		</form>
	</div>
</div>

{% endblock %}
